<%- include("partials/header.ejs") %>




<article class="blog-post">
    <h1 class=" fst-italic" style="text-align: center;">Hey! here is your Blog</h1>
    <hr>
    <h2 class="blog-post-title"><%= title %></h2>
   
    <p><%= desc%></p>
    <hr>
    <p><%= content %>
    </p>
    
    
    
  </article>
<%- include("partials/footer.ejs") %>